{erl_opts, [
    debug_info,
    {d, 'HAVE_EXPAT'},
    {d, 'HAVE_ZLIB'},
    {d, 'HAVE_OPENSSL'},
    {src_dirs, ["client", "compat", "core", "network", "server"]}
]}.

{compile_pre_script, "./pre-build.sh"}.
{clean_post_script, "./post-clean.sh"}.

{port_sources, [
    "exmpp_compress_zlib.c",
    "exmpp_driver.c",
    "exmpp_stringprep.c",
    "exmpp_tls.c",
    "exmpp_tls_openssl.c",
    "exmpp_xml.c",
    "exmpp_xml_expat.c",
    "exmpp_xml_expat_legacy.c"
]}.

{so_specs, [
    {"priv/lib/exmpp_xml_expat.so",
        ["c_src/exmpp_driver.o", "c_src/exmpp_xml.o", "c_src/exmpp_xml_expat.o"],
        [{"LDFLAGS", "$LDFLAGS -lexpat"}]
    },
    {"priv/lib/exmpp_xml_expat_legacy.so",
        ["c_src/exmpp_driver.o", "c_src/exmpp_xml.o", "c_src/exmpp_xml_expat_legacy.o"],
        [{"LDFLAGS", "$LDFLAGS -lexpat"}]
    },
    {"priv/lib/exmpp_stringprep.so",
        ["c_src/exmpp_driver.o", "c_src/exmpp_stringprep.o"]
    },
    {
        "priv/lib/exmpp_zlib.so",
        ["c_src/exmpp_driver.o", "c_src/exmpp_compress_zlib.o"],
        [{"LDFLAGS", "$LDFLAGS -lz"}]
    },
    {"priv/lib/exmpp_openssl.so",
        ["c_src/exmpp_driver.o", "c_src/exmpp_tls.o", "c_src/exmpp_tls_openssl.o"],
        [{"LDFLAGS", "$LDFLAGS -lssl"}]
    }
  ]}.

{port_envs, [
    {"LDFLAGS", "$LDFLAGS -module -avoid-version"}
]}.

{edoc_opts, [
    {def, [{vsn, "0.9.5-next"}]},
    {packages, false}
]}.
